<!-- moon -->
<!-- when you want to have this everywhere. -->

<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/">MWM Quiz Home</a>
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-items">
        <a class="nav-item nav-link" href="/create">Create quiz</a>
        <a class="nav-item nav-link" href="/private">My private quiz</a>
        <a class="nav-item nav-link" href="/result">My result</a>
      </div>
      <div class="navbar-login">
        <form method="GET" action="/login">
        <!-- <a class="nav-login" href="/login"> -->
          <!-- Login -->
        <!-- </a> -->
          <button type="submit" class="btn btn-primary">Log in</button>
          </form>
        </div>
    </div>
  </nav>
</header>
