<!-- moon -->
<!-- when you want to have this everywhere. -->

<header>
  <nav class="navbar1">
    <a class="navbar-brand" href="/">MWM Quiz Home</a>
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="navbar2">
      <div>
        <a class="create" href="/create">Create quiz</a>
        <a class="private" href="/private">My private quiz</a>
        <a class="result" href="/result">My result</a>
        <a class="login" href="/login">Login</a>
      </div>
      <!-- % if (user) {%>
        <div class="navbar-login">
          Hello, %= user.user_name %>
        </div>
          % } else { %>
            <div class="navbar-login">
              Hello, visitor
            </div>
          % } %>     -->
            <!-- <form method="GET" action="/login"> -->
        <!-- <a class="nav-login" href="/login">Login
        </a> -->
        <!-- <button type="submit" class="btn btn-primary">Log in</button> -->
      </div>
    </div>
  </nav>
  <hr />
</header>
