<!-- moon -->
<!-- when you want to have this everywhere. -->

<header class="navbar">

  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">

  <nav class="navbar1">
    <a class="title" href="/">MWM Quiz Home</a>
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->
<<<<<<< HEAD
    <div class="navbar2">
      <div>
        <!-- a tag href goes rounter.get -->
        <a class="create" href="/quizzes/create">Create quiz</a>
=======
    <div>
      <div class="navbar2">
        <a class="create1" href="/quizzes/create">Create quiz</a>
>>>>>>> faf46a017459541b49c5136abeed28bc7087d747
        <a class="private" href="/quizzes/private">My private quiz</a>
        <a class="result" href="/quizzes/result">My result</a>
        <% if (user) { %>
          <form method="POST" action="/logout">
<<<<<<< HEAD
            <label for="username">Hello, <%= user.user_name%>! </label>
            <button type="submit" class="btn btn-primary">Logout</button>
=======
            <button type="submit" class="logout">Logout</button>
>>>>>>> faf46a017459541b49c5136abeed28bc7087d747
          </form>
          <!-- <form method="POST" action="/login">
            <a class="login" href="/login">Login</a>
          </form> -->
        <% } else { %>
          <form method="POST" action="/login">
            <label for="username">Hello, visitor! </label>
            <a class="login" href="/login">Login</a>
          </form>
          <% } %>
      </div>
      <div class="navbar-login">
      </div>
    </div>
  </nav>
  <hr />
</header>
