<!-- moon -->
<!-- when you want to have this everywhere. -->

<header class="navbar">
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Source+Sans+Pro:wght@300&display=swap"
    rel="stylesheet"
  />

  <nav class="navbar1">
    <a class="title" href="/">MWM Quiz Home</a>
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div>
      <div class="navbar2">
        <a class="create1" href="/quizzes/create">Create quiz</a>
        <a class="private" href="/quizzes/private">My private quiz</a>
        <a class="result" href="/quizzes/result">My result</a>
        <% if (user) { %>
        <form method="POST" action="/logout">
          <label for="username">Hello, <%= user.user_name%>! </label>
          <button type="submit" class="btn btn-primary">Logout</button>
        </form>
        <!-- <form method="POST" action="/login">
            <a class="login" href="/login">Login</a>
          </form> -->
        <% } else { %>
        <form method="POST" action="/login">
          <a class="login" href="/login">Login</a>
          <label for="username">Hello, visitor! </label>
        </form>
        <% } %>
      </div>
      <div class="navbar-login"></div>
    </div>
  </nav>
  <hr />
</header>
