<!-- this is the home page -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <%- include('partials/_header') %>

  <body>
    <h1>Welcome to the MWM Quiz</h1>
    <span>
    <h3>Select User</h3>
    </span>




    <p>

    </p>
    <div>
      <ul>
        QUIZ:
        <li>
          What is the capital of China?
        </li>
        <li>
          What is the capital of Indonesia?
        </li>
        <li>
          What is the capital of Filipina?
        </li>
        <li>
          What is the capital of Singapore?
        </li>
      </ul>
    </div>
    <tbody>

    </tbody>


  </body>
</html>
