<!-- mike -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Log in | MWM</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <h1 class="login_page">Please log in</h1>
    <form class="form-inline" action="/users/login" method="POST">
      <!-- <form class="form-inline" action="/" method="POST"> -->
      <div class="form-group mb-2">
        <label class="login-name-label" for="login_name">Login Name</label>
        <input
          class="login_name"
          type="text"
          name="login_name"
          placeholder="Enter your name"

        />
        <label for="login-password">Password</label>
        <input
          class="login_password"
          type="password"
          name="password"
          placeholder="Enter your password"
        />
        <div class="btn">
          <button type="submit" class="submit">Submit</button>
        </div>
        <!-- presses submit.Our browser sends a POST request to our server. -->
      </div>
    </form>
  </body>
</html>
