<!-- moon -->
<!-- this is the individual quiz page -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Individual Quiz | MWM</title>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>


  <body>
    <%- include('partials/_header') %>

    <article class="question_article_box">
      <% if (oneQuiz.id === 17) {%>
      <h3 class="last_question">
        !!This Is Your Last Question!!
      </h3>
      <% } %>
      <h2>Question</h2>
    <form id="public-quiz-submit-form" data-id="<%= `${oneQuiz.id}` %>">
    <article class="question_article_box">
        <div class="question_area">
        <h2 class="question_detail"><%= `${oneQuestion}` %></h2>
        </div>
        <div>
          <textarea
            class="form-control public-input-answer"
            type="text"
            name="answerInput"
            placeholder="Fill out your answer."
          ></textarea>
        </div>

        <div class="public-quiz-alert">
          <label class="alert-message" id="alert-correct">Correct!</label>
          <label class="alert-message" id="alert-wrong">Wrong!</label>
       </div>

        <div class="btn">
          <button type="submit" class="question_submit_btn">Submit</button>
        </div>
      </form>
    </article>
  </body>
</html>
