<!-- moon -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Private Quiz | MWM</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <%- include('partials/_header') %>
    <div>
      <h1 class="view">View your private quiz</h1>
    </div>
    <table class="private_quiz">
      <tr>
        <th scope="col" class="questions">Question</th>
        <th scope="col" class="urls">Quiz URL</th>
      </tr>
      <% for (let i = 0; i < obj.length; i++) { %>
      <tr>
        <td><%=obj[i].question%></td>
        <td>
          <a href="<%=`/quizzes/quizzes/${obj[i].random_string}`%>"
            >Go to quiz!</a
          >
        </td>
      </tr>
      <% }%>
    </table>
  </body>
  <div class="copyright">
    <footer>
      <span>&#169; 2022 MWM Quiz. All Rights Reserved | Made by Moon, Will, Mike at LHL</span>
    </footer>
  </div>
</html>
