<!-- moon -->
<!-- this is the individual quiz page -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Individual Quiz | MWM</title>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <h3>quiz ID: <%= `${oneQuiz.id}` %></h3>

    <h2><%= `${oneQuestion}` %></h2>

    <form id="public-quiz-submit-form" data-id="<%= `${oneQuiz.id}` %>">
      <div>
        <input
          class="form-control public-input-answer"
          type="text"
          name="answerInput"
          placeholder="Fill out your answer. (all lower case)"
        />
      </div>
      <div class="btn">
        <button type="submit" class="submit">Submit</button>
      </div>
    </form>
    <div class="public-quiz-result">
      <!-- appended inside app.js-->
    </div>
  </body>
</html>
