<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MWM Quiz App</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="../styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap"
      rel="stylesheet"
    />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body class="cohort-photo">
    <%- include('partials/_header') %>
    <h1 class="welcome view">Welcome to the MWM Quiz</h1>

    <table class="public_quiz">
      <tbody class="question-url">
        <tr>
          <th scope="col">Question</th>
          <th scope="col">Quiz URL</th>
        </tr>
        <% for (let i = 0; i < quizzes.length; i++) { %>
        <tr>
          <td><%=quizzes[i].question%></td>
          <td>
            <a href="<%=`/quizzes/${quizzes[i].id}`%>">Go to quiz!</a>
          </td>
        </tr>
        <% }%>
      </tbody>
    </table>
  </body>
</html>
