<!-- moon   -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>

    <h1 class="create">Create a new quiz!</h1>

    <form class="form-inline" action="quizzes/create" method="POST">
      <div class="form-group mb-2">
        <label for="question-label">Question</label>
        <input
          class="form-control"
          type="text"
          name="questionInput"
          placeholder="Enter your question."
          style="width: 300px; margin: 1em"
        />
        <label for="answer-label">Answer</label>
        <input
          class="form-control"
          type="text"
          name="answerInput"
          placeholder="Enter your answer (all lower cases)."
          style="width: 300px; margin: 1em"
        />

        <button type="submit" class="btn">Submit</button>
        <!-- presses submit.Our browser sends a POST request to our server. -->
      </div>
    </form>
  </body>
</html>
