<!-- william -->
<!-- this is the home page -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to MWM Quiz</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Public Quiz List</h1>

    <button id="btn">button</button>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mattis
      nulla est, et consequat dolor rhoncus rhoncus. Phasellus et lacus posuere,
      ultricies erat eu, consequat dui. Suspendisse euismod facilisis risus in
      condimentum. Sed eu turpis quis diam faucibus volutpat. Vivamus volutpat
      porta quam, id lacinia nulla commodo ac. Integer id leo in quam bibendum
      posuere eget laoreet neque. Suspendisse vitae lacus dolor. Donec ut nulla
      quis nisl accumsan efficitur. Sed vulputate diam turpis, a varius est
      congue id.
    </p>
    <div id="belowbtn"></div>
  </body>
</html>
