<!-- moon -->
<!-- this is the individual quiz page -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Individual Quiz | MWM</title>
  </head>

  <body>
    <%- include('partials/_header') %>

    <h3><%= `${oneQuestion}` %></h3>

    <div class="card text-center">
      <div class="card-body">
        <!-- alligator tag checks the same name in the object that i passed in the res.render -->
        <p class="card-text"></p>
      </div>
    </div>
  </body>
</html>
