<!-- mike -->
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Result | MWM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

</head>

<body>
  <%- include('partials/_header') %>

  <div class="conditional">
      <!-- if (user)
      } else {
      }
      if the answer is correct
      if the answer is incorrect -->
    </div>
    <div>
      <h1 class="your_result">Your Result</h1>
    </div>
    <main class="result_main">
      <div class="result_title">
        <p class="result_title_greeting">Hello (username)</p>
        <!-- <p class="result_title_greeting">Hello (visitor)</p> -->
      </div>
      <div class="result_box">
        <p class="result result_correct">
          You have answered these correctly. Keep it up!
        </p>
        <p class="result result_incorrect">
          You have answered wrong. Try again!
        </p>
      </div>

      <div class="user_answer_rate_box">
        <div class="user_answer_rate">
          <!-- if a visitor, don't need to check rate.
          if corrects 100%, not 0% -->
          <p class="user_answer_rate_label">
            Your Answer Rate :
          </p>
          <div class="rate_box">
            <div class="correct_rate_box">
              <p class="correct_rate">
                <p class="accuracy_icon correct_icon">
                  3/10
                </p>
                Correct
              </p>
            </div>
            <div class="incorrect_rate_box">
              <p class="incorre_rate">
                <p class="accuracy_icon incorrect_icon">
                  7/10
                </p>
                Wrong
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>

</html>
