<!-- william -->
<!-- this is the home page -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MWM Quiz App</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>

    <h1>Public Quiz List</h1>

    <button id="btn">button</button>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mattis
      nulla est, et consequat dolor rhoncus rhoncus. Phasellus et lacus posuere,
      ultricies erat eu, consequat dui. Suspendisse euismod facilisis risus in
      condimentum. Sed eu turpis quis diam faucibus volutpat. Vivamus volutpat
      porta quam, id lacinia nulla commodo ac. Integer id leo in quam bibendum
      posuere eget laoreet neque. Suspendisse vitae lacus dolor. Donec ut nulla
      quis nisl accumsan efficitur. Sed vulputate diam turpis, a varius est
      congue id.
    </p>
    <div id="belowbtn"></div>
    <thead>
      <tr>
        <th scope="col">Home</th>
        <th scope="col">Select User</th>
        <th scope="col">Public Quiz</th>
      </tr>
    </thead>
    <div>
      <ul>
        QUIZ:
        <li>What is the capital of China?</li>
        <li>What is the capital of Indonesia?</li>
        <li>What is the capital of Filipina?</li>
        <li>What is the capital of Singapore?</li>
      </ul>
    </div>
    <tbody></tbody>
  </body>
</html>
