body {
  /* display: flex;
  justify-content: center; */
  align-items: center;
  min-height: 100vh;
  background: #a3d0db;
  background: linear-gradient(227deg, #74959d 0%, #7f8bb5 20%, #8aaa8c 34%, #779f98 59%, #8bbdc9 74%, #a3d0db 100%);
  width: 100%;
}

/* handling header */

.navbar {
  background-color: #af8d8d;
  /* position: fixed; */
  /* top: 0; */
  width: 100%;
}

.title, .private, .result, .login {
  color: rgb(174 247 174)
}

.title {
  /* margin-right: 200px; */
}

.anchor {
  margin: 0 50px;
  color: rgb(174 247 174);
}
.anchor:visited {
  color: rgb(174 247 174);
}
.anchor:hover {
  color: #7b90ab
}

.greeting {
  color: #7287b2;
}
.create1 {
  color: rgb(128, 141, 176)
}


/* handling main page */

.navbar1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  padding-top: 25px;
  font-family: 'Bungee', cursive;
}

.navbar2 {
  display: flex;
  justify-content: space-evenly;
  margin-left: 350px;
  font-family: 'Bungee', cursive;
}

.button_login, .button_logout {
  background-color: #7287b2;;
  border-radius: 5px;
  margin-left: 5px;
  color:  rgb(174 247 174);
}

th, td {
  padding: 15px;
}

.public_quiz, .private_quiz {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* align-items: center; */
  /* margin-left: 20px; */
  /* margin: auto; */
}

.home {
  margin-top: 20px;
  margin-left: 20px;
}

.public-list {
  text-align: right;
  margin-right: 100px;
  margin-top: 0 px;
  color: darkred
}

hr {
  border: 1px solid rgb(174 247 174);
  border-top-width: 3px;
  margin-top: 25px;
}

/* .welcome123 {
  text-align: center;
  margin-right: 100px;
  margin: auto;
  color: darkred;
  font-family: 'Bungee', cursive;
} */

.question-quiz {
  color: darkred;
  font-family: 'Bungee', cursive;
}

.private {
  margin-left: 20px;
}

.result {
  margin-left: 20px;
}

.login {
  margin-left: 20px;
}

/* handling create page */

.create {
  color: darkred;
  text-align: center;
  font-family: 'Bungee', cursive;
}

.submit {
  transition-duration: 0.4s;
  margin-bottom: 20px;
  color: darkred;
  text-align: right;
  margin-right: 70px;
  margin-top: 30px;
  background-color: transparent;
  font-size: 20px;
  font-family: 'Bungee', cursive;
}

.submit:hover {
  background-color: darkred;
  color: palegreen;
  font-family: 'Bungee', cursive;
}

.btn {
  text-align: right;
}

.question {
  margin-left: 25px;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #9e9fe4;;
}
a:hover {
  /* text-decoration: none;  */
  color: orange
}
a:active {
  /* text-decoration: none;  */
  color: orange
}

.form-control-1, .form-control-2 {
  width: 30em;
  margin: 1em;
  overflow: auto;
  overflow-wrap: break-word;
  padding: 2em;
  line-break: auto;
  border: 10px solid rgb(174 247 174);
}

/* handling private quiz page */

.view {
  text-align: center;
  color: darkred;
  font-family: 'Bungee', cursive;
}


/* handling login page */

.login_page {
  margin-top: 200px;
  text-align: center;
  color: darkred;
  font-family: 'Bungee', cursive;
}

.your_result {
  text-align: center;
  color: darkred;
  font-family: 'Bungee', cursive;
}

.login_name, .login_password {
  width: 28em;
  margin: 1em;
  overflow: auto;
  overflow-wrap: break-word;
  padding: 2em;
  line-break: auto;
  border: 10px solid rgb(174 247 174);
}

.login-name-label {
  margin-left: 50px;
}



/* handling log out button */
.logout {
  margin-left: 20px;
  color: rgb(174 247 174);
  background-color: transparent;
  font-size: 20px;
}

.logout:hover {
  background-color: darkred;
  color: palegreen;
}



/* handling result page */

.conditional {
  display: none;
}

.result_main {
  margin: auto;
  margin-top: 15vh;
  width: 90vw;
  height: 30vh;

}

.result_title_greeting {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.3rem 0;
}


.result_correct {
  background-color: rgb(174 247 174);
  color: black;
  border-radius: 1.5rem;
  width: 35vw;
  align-items: center;
  margin: auto;
  padding: 1.3rem 0;
  padding-left: 40px;
}

.result_incorrect {
  display: none;
  background-color: pink;
  text-align: center;
  border-radius: 1.5rem;
  width: 35vw;
  align-items: center;
  margin: auto;
  padding: 1.3rem 0;
}

.result_title {
  color: darkred;
  text-align: center;
}

footer {
  width: 90vw;
  height: 20vh;
}


.user_answer_rate {
  display: flex;
  justify-content: space-around;
  text-align: -webkit-center;
}

.user_answer_rate_label {

  border-radius: 1rem;
  width: 20%;
  height: 5rem;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: large;
}

.rate_box {
  width: 50%;
  display: flex;
  justify-content: space-around;
}



.accuracy_icon {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.correct_icon {
  background-color: green;
  color: white;
}

.correct_rate .incorrect_rate {
  background-color: rgb(215, 255, 140);
}


.incorrect_icon {
  background-color: rgb(0, 0, 0);
  color: white;

}

.incorrect_rate {
  background-color: rgb(250, 6, 230);
}

.user_answer_rate_box {
  margin-top: 15em;
}
