body {
  /* display: flex;
  justify-content: center; */
  align-items: center;
  min-height: 100vh;
  background: #a3d0db;
  background: linear-gradient(227deg, #74959d 0%, #7f8bb5 20%, #8aaa8c 34%, #779f98 59%, #8bbdc9 74%, #a3d0db 100%);
  width: 100%;
}

/* handling main page */

.navbar1 {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.navbar2 {
  display: flex;
  justify-content: space-evenly;
  margin-left: 350px;
}

th, td {
  padding: 15px;
}

.public_quiz {
  display: flex;
  width: 100%;
  margin-left: 20px;
}

.home {
  margin-top: 20px;
  margin-left: 20px;
}

.public-list {
  text-align: right;
  margin-right: 100px;
  margin-top: 0 px;
  color: darkred
}

hr {
  border: 1px solid rgb(174 247 174);
  border-top-width: 3px;
  margin-top: 25px;
}

.welcome123 {
  text-align: right;
  margin-right: 100px;
  color: darkred;
}

.question-quiz {
  color: darkred;
}

.private {
  margin-left: 20px;
}

.result {
  margin-left: 20px;
}

.login {
  margin-left: 20px;
}

/* handling create page */

.create {
  color: darkred;
  margin-left: 25px;
}

.submit {
  transition-duration: 0.4s;
  margin-bottom: 20px;
  color: darkred;
  text-align: right;
  margin-right: 70px;
  margin-top: 30px;
  background-color: transparent;
  font-size: 20px;
}

.submit:hover {
  background-color: darkred;
  color: palegreen;
}

.btn {
  text-align: right;
}

.question {
  margin-left: 25px;
}

.form-control-1, .form-control-2 {
  width: 30em;
  margin: 1em;
  overflow: auto;
  overflow-wrap: break-word;
  padding: 2em;
  line-break: auto;
  border: 10px solid rgb(174 247 174);
}

/* handling private quiz page */

.view {
  text-align: center;
  color: darkred;
}





/* handling log out button */
.logout {
  margin-left: 20px;
  color: darkred;
  background-color: transparent;
  font-size: 20px;
}

.logout:hover {
  background-color: darkred;
  color: palegreen;




/* handling result page */

   .conditional {
      display: none;
    }

    .result_main {
      margin: auto;
      margin-top: 20vh;
      width: 90vw;
      height: 30vh;
      background-color: rgb(123, 41, 253);
    }

    .result_title {
      background-color: rgb(29, 21, 255);
    }

    .result_title_greeting {
      background-color: orange;
      text-align: center;
      font-size: 1.5rem;
      padding: 0.3rem 0;
    }

    .result_box {
      background-color: blue;
    }

    .result {
      background-color: white;
    }

    .result_correct {
      background-color: lightblue;
      border-radius: 0.5rem;
      width: 50vw;
      align-items: center;
      margin: auto;
      padding: 0.3rem 0;
    }

    .result_incorrect {
      display: none;
      background-color: yellow;
    }

    footer {
      width: 90vw;
      height: 20vh;
    }

    .user_answer_rate_box {
      background-color: rgb(0, 87, 0);
    }

    .user_answer_rate {
      background-color: rgb(179, 255, 179);
      display: flex;
      justify-content: space-around;
    }

    .user_answer_rate_label {
      background-color: rgb(57, 35, 255);
      border-radius: 1rem;
      width: 10rem;
      height: 5rem;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
    }

    .rate_box {
      width: 50%;
      display: flex;
      justify-content: space-around;
    }

    .correct_rate_box, .incorrect_rate_box {
      background-color: rgb(167, 0, 78);
    }

    .accuracy_icon {
      border-radius: 50%;
      width: 5rem;
      height: 5rem;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
    }

    .correct_icon {
      background-color: rgb(255, 255, 255);

    }

    .correct_rate .incorrect_rate {
      background-color: rgb(215, 255, 140);
    }

    .incorrect_rate_box {
      background-color: rgb(109, 139, 109);



    .incorrect_icon {
      background-color: rgb(0, 0, 0);
    }

    .incorrect_rate {
      background-color: rgb(250, 6, 230);

    }
