body {
  // display: flex;
  // justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}



.navbar1 {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.navbar2 {
  display: flex;
  justify-content: space-evenly;
}


th, td {
  padding: 15px;
}

.public_quiz {
  display: flex;
  width: 100%;
  margin-left: 20px;
}

.home {
  margin-top: 20px;
  margin-left: 20px;
}

.public-list {
  text-align: right;
  margin-right: 100px;
  margin-top: 0 px;
  color: darkred
}

.quizes {
  width: 50%;
}
/* .users {
  width: 50%;
  text-align: -webkit-center;
} */

hr {
  border: 1px solid red;
  border-top-width: 1px;
  margin-top: 25px;
}

.welcome123 {
  text-align: right;
  margin-right: 100px;
  color: darkred;
}
